<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Home'})  %> 
<body>
    <header>
        <%- include('../partials/header', {page: 'home'}) %>
    </header>

    <main>
        <h2>Main Page</h2>
    </main>

    <footer>
        <%- include('../partials/footer') %> 
    </footer>
</body>
</html>