<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {title: 'Services'})  %> 
    <link rel="stylesheet" href="stylesheets/services-styles.css" />
<body>
    <%- include('../partials/header', {page: 'services'}) %>

    <main class="bg-main">
        
    </main>

    <%- include('../partials/footer') %> 
</body>
</html>