@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #0d0b17;
}

header {
  transition: 0.4s ease;
}

.header-line-height {
  line-height: 1.2;
}

#custom-nav {
  /* background-color: #1f1d2b; */
  z-index: 99999;
}

#btn-container a {
  margin-bottom: 0.8rem;
}

.super-logo {
  background: linear-gradient(#ffc837 30%, #ff8008 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.thin-border {
  border-width: 1px;
}

.btn-letter-spacing {
  letter-spacing: 1.5px;
}

.linear-orange-bg {
  background: linear-gradient(
    103.91deg,
    #ff8008 21.01%,
    rgba(255, 200, 55) 100%
  );
  mix-blend-mode: normal;
}

.linear-orange-bg-2 {
  background: linear-gradient(180deg, #fd37ff 0%, #ffc837 0.01%, #ff8008 100%);
  mix-blend-mode: normal;
}

#footer-main-text {
  background: linear-gradient(180deg, #ffc837 30%, #ff8008 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.footer-main-text-desktop {
  line-height: 50px;
}

#footer-horizontal-divider {
  height: 1px;
}

.footer-vertical-divider {
  border-right-width: 1px;
}

.blurred-info-card {
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17),
    inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(74.4293px);
}

.blurred-cards-bg-blob {
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0px;
  top: 50%;
  background: linear-gradient(93.51deg, #9b51e0 2.84%, #3081ed 99.18%);
  filter: blur(200px);
  border-radius: 10px;
}

.img-container-shadow {
  box-shadow: 0px 4px 57px -26px #ffe8ac;
}

.about-us-paragraph-text {
  line-height: 1.8rem;
  letter-spacing: 1px;
}

#main-tour {
  transition: 0.4s ease;
}

#jumbo {
  /* overflow-y: scroll; */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  transition: 0.4s ease;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#jumbo::-webkit-scrollbar {
  display: none;
}

#jumbo-container {
  background: url('https://res.cloudinary.com/techbytes-solutions/image/upload/v1655193445/jumbo-klcc_mw6dgd.webp')
    rgba(4, 4, 4, 0.8);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  transition: 0.4s ease;
}

h1 {
  letter-spacing: 0px;
}

.normal-text-letter-spacing {
  letter-spacing: 0.5px;
}

.blob {
  position: absolute;
  width: 123px;
  height: 123px;
  top: 20px;
  left: -30px;
  background: #fb37ff;
  filter: blur(200px);
}

/* Serivce Page */

.feature-img,
.feature-desc {
  transition: 0.4s ease;
}

.feature-card:hover .feature-img {
  z-index: 9999;
  transform: scale(1.1);
}

.feature-card:hover .feature-desc {
  transform: scale(0.2);
  opacity: 0.5;
}

/* Packages page */

.package-container,
.bundle-title,
.bundle-points-block,
.benefits-list {
  transition: 0.4s ease;
}

/* Refine CSS, shoulda used SCSS */

.package-container:hover {
  transform: scale(1.1);
}

.package-container:hover .bundle-title {
  color: #fff;
}

.package-container:hover .bundle-points-block p {
  color: #fff;
}

.package-container:hover .bundle-points-block span {
  color: #fff;
}

.package-container:hover .benefits-list li {
  color: #fff;
}

.mobile-default-text-color .bundle-title,
.bundle-points-block p,
.bundle-points-block span,
.benefits-list li {
  color: #fff;
}

.package-container:hover .block-bg-featured {
  background: linear-gradient(
    103.91deg,
    #ff8008 21.01%,
    rgba(255, 200, 55) 100%
  );
  mix-blend-mode: normal;
}

.mobile-default-block-bg {
  background: linear-gradient(
    103.91deg,
    #ff8008 21.01%,
    rgba(255, 200, 55) 100%
  );
  mix-blend-mode: normal;
}

.package-container:hover .block-bg-normal {
  background: #bcbcbc;
}

.package-container:hover .feature-tag {
  background: linear-gradient(
    103.91deg,
    #ff8008 21.01%,
    rgba(255, 200, 55) 100%
  );
  mix-blend-mode: normal;
  border: none;
}

.mobile-default-feature-tag {
  background: linear-gradient(
    103.91deg,
    #ff8008 21.01%,
    rgba(255, 200, 55) 100%
  );
  mix-blend-mode: normal;
  border: none;
}

.advantage-card-icon {
  stroke: rgba(255, 133, 12, 0.4);
  fill: none;
}

/* Contact Page */
.contact-header-text {
  line-height: 4.8rem;
}

.divider-height {
  height: 1px;
}

.copy-link-btn {
  transition: 0.2s ease;
}

.copy-link-btn:active {
  background: linear-gradient(#ffc837 30%, #ff8008 70%);
  border-color: transparent;
  color: #000;
}

.info-box {
  transition: 0.2s ease;
}

.iframe-container {
  transition: 0.6s ease;
}

.active-nav-link-mobile {
  background: linear-gradient(
    103.91deg,
    #ff8008 21.01%,
    rgba(255, 200, 55) 100%
  );
  mix-blend-mode: normal;
  border: none;
}

.video-platform-desc-text {
  line-height: 1.6rem;
}

.whatsapp-floating-button {
  position: fixed;
  border-radius: 50px;
  background-color: #25d366;
  color: #fff;
  box-shadow: 2px 2px 3px #999;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
