<div class="w-full lg:w-1/3 mx-auto flex flex-col justify-center items-center mb-12 lg:mb-8">
    <div class="w-3/5 lg:w-1/2 flex justify-center items-center rounded-3xl mb-6 py-8 lg:py-9 blurred-info-card">
        <!-- Weird shiet with icon size happening here, fixme -->
        <i data-feather="<%- iconName %>" class="text-light-grey w-10 lg:w-16 h-10 lg:h-16"></i>
    </div>

    <p class="w-8/12 text-center text-light-grey text-sm lg:text-sm font-normal"><%- text || '' %> </p>
</div>