<a href="<%- href || '#' %>" class="uppercase text-xs text-light-grey py-3 px-12 thin-border rounded-lg font-bold btn-letter-spacing hover:bg-slate-300 transition-colors hover:text-[#1f1d2b] hover:cursor-pointer">
    <%- label || 'button' %>
</a>