<a href="<%- href || '#' %>" class="uppercase text-2xl lg:text-sm py-4 px-12 rounded-xl font-bold btn-letter-spacing transition-colors hover:cursor-pointer <%- isPrimary ? 'text-white hover:text-white linear-orange-bg' : 'text-light-grey thin-border hover:bg-slate-300 hover:text-[#1f1d2b]' %> ">
    <%- label || 'button' %>
</a>