<div class="w-full rounded-xl transition-colors linear-orange-bg flex flex-row justify-between items-center py-12 px-8 lg:px-10">
    <p class="text-white font-medium text-xl"><%- ctaDesc || '' %> </p>
    <a href="<%- href || '#' %>" class="uppercase text-base py-4 px-12 rounded-xl font-bold btn-letter-spacing hover:cursor-pointer bg-white text-primary-orange">
        <%- label || 'button' %>
    </a>
</div>