<li class="w-1/2 lg:w-full flex flex-row justify-start items-center mb-6 hover:underline">
    <i class="mr-4 stroke-light-grey w-6 h-6" data-feather="<%- iconName %>"></i>
    <a class="text-light-grey" href="<%- href %>"><%- link || href %> </a>
</li>