<div class="w-full lg:w-1/2 mb-44 lg:mb-36 px-2 lg:px-8 relative feature-card">
    <img src="<%- imageSrc %>" alt="feature-image" class="w-full rounded-xl feature-img h-[350px]">
    <div class="absolute -bottom-20 lg:-bottom-16 left-0 lg:left-7 w-9/12 flex flex-col p-6 mx-10 transition-colors linear-orange-bg rounded-xl feature-desc">
        <p class="text-white font-normal text-base lg:text-2xl mb-4"><%- title %> </p>
        <p class="text-white font-light text-sm lg:text-sm text-left"><%- desc %> </p>
    </div>
</div>