<div class="w-1/2 mb-36 px-8 relative feature-card">
    <img src="/images/<%- imageSrc %> " alt="feature-image" class="w-full rounded-xl feature-img">
    <div class="absolute -bottom-16 left-7 w-9/12 flex flex-col p-6 mx-10 transition-colors linear-orange-bg rounded-xl feature-desc">
        <p class="text-white font-normal text-2xl mb-4"><%- title %> </p>
        <p class="text-white font-light text-sm text-left"><%- desc %> </p>
    </div>
</div>