<footer class="bg-main w-full pt-12">
    <div class="lg:container mx-auto flex flex-col justify-center items-start px-10 lg:px-2">
        <div class="w-full flex flex-row justify-around items-center px-0 lg:px-6">
            <div class="w-1/2 footer-vertical-divider border-r-light-grey">
                <h3 id="footer-main-text" class="w-2/3 lg:w-1/2 text-4xl lg:text-3xl font-normal text-primary-orange">We are a team of passionate & dedicated photographers here to help you.</h3>
            </div>
        
            <div class="w-1/2 flex flex-row justify-around items-start">
                <!-- Turn into a partial -->
                <ul class="text-light-grey list-none text-lg">
                    <li class="hover:text-white py-2"><a href="/">Home</a></li>
                    <li class="hover:text-white py-2"><a href="/about">About Us</a></li>
                    <li class="hover:text-white py-2"><a href="/services">Services</a></li>
                    <li class="hover:text-white py-2"><a href="/packages">Packages</a></li>
                    <li class="hover:text-white py-2"><a href="/contact">Contact</a></li>
                </ul>
    
                <ul class="text-light-grey list-none text-lg">
                    <li class="hover:text-white py-2"><a href="https://www.youtube.com">Youtube</a></li>
                    <li class="hover:text-white py-2"><a href="#">Whatsapp</a></li>
                    <li class="hover:text-white py-2"><a href="#">Facebook</a></li>
                    <li class="hover:text-white py-2"><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
    
        <div id="footer-horizontal-divider" class="mt-12 w-full bg-light-grey"></div>
    
        <div class="mb-6 w-full flex flex-row justify-between items-center py-6 px-4">
            <div class="text-super-light-grey flex flex-row justify-start items-center">
                <a href="#"><i data-feather="instagram" class="hover:text-white w-7 lg:w-5 mr-4"></i></a>
                <a href="#"><i data-feather="phone" class="hover:text-white w-7 lg:w-5 mr-4"></i></a>
                <a href="#"><i data-feather="youtube" class="hover:text-white w-7 lg:w-5 mr-4"></i></a>
                <a href="#"><i data-feather="facebook" class="hover:text-white w-7 lg:w-5"></i></a>
            </div>
    
            <p class="text-super-light-grey font-light text-lg">© Super 360° | 360° Virtual Tour Service</p>
        </div>
    </div>
</footer>

<script>
    feather.replace()
</script>