<footer class="bg-main w-full lg:pt-12">
    <div class="lg:container mx-auto flex flex-col justify-center items-start px-10 lg:px-2">
        <div class="w-full flex flex-col lg:flex-row justify-around items-center px-0 lg:px-6">
            <div class="w-full lg:w-1/2 footer-vertical-divider border-r-transparent lg:border-r-light-grey">
                <h3 id="footer-main-text" class="w-full lg:footer-main-text-desktop lg:w-1/2 text-lg lg:text-3xl font-normal text-primary-orange">We are a team of passionate & dedicated photographers here to help you.</h3>
            </div>

            <div class="hidden w-full lg:w-1/2 lg:flex flex-row justify-around items-start">
                <!-- Turn into a partial -->
                <ul class="text-light-grey list-none text-xs lg:text-lg">
                    <li class="hover:text-white py-2"><a href="/">Home</a></li>
                    <li class="hover:text-white py-2"><a href="/about">About Us</a></li>
                    <li class="hover:text-white py-2"><a href="/services">Services</a></li>
                    <li class="hover:text-white py-2"><a href="/features">Features</a></li>
                    <li class="hover:text-white py-2"><a href="/packages">Packages</a></li>
                    <li class="hover:text-white py-2"><a href="/contact">Contact</a></li>
                </ul>
    
                <ul class="text-light-grey list-none text-xs lg:text-lg">
                    <li class="hover:text-white py-2"><a href="https://www.youtube.com">Youtube</a></li>
                    <li class="hover:text-white py-2"><a href="#">Whatsapp</a></li>
                    <li class="hover:text-white py-2"><a href="#">Facebook</a></li>
                    <li class="hover:text-white py-2"><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
    
        <div id="footer-horizontal-divider" class="mt-12 w-full bg-light-grey"></div>
    
        <div class="mb-6 w-full flex flex-column lg:flex-row justify-between items-center py-6 px-1 lg:px-4">
            <div class="w-full text-super-light-grey flex flex-row justify-start items-center">
                <a href="#"><i data-feather="instagram" class="hover:text-white w-4 lg:w-5 mr-4"></i></a>
                <a href="#"><i data-feather="phone" class="hover:text-white w-4 lg:w-5 mr-4"></i></a>
                <a href="#"><i data-feather="youtube" class="hover:text-white w-4 lg:w-5 mr-4"></i></a>
                <a href="#"><i data-feather="facebook" class="hover:text-white w-4 lg:w-5"></i></a>
            </div>
    
            <p class="w-full text-right text-super-light-grey font-light text-xs lg:text-lg">© Super 360° | 360° Virtual Tour Service</p>
        </div>
    </div>
</footer>

<script>
    feather.replace()
</script>
<script src="https://unpkg.com/flowbite@1.4.2/dist/flowbite.js"></script>