<header>
    <div class="w-full">
        <div class="w-full py-6 px-12 flex flex-row justify-between">
            <div id="logo" class="uppercase font-extrabold text-2xl super-logo flex justify-center items-center">Super.360</div>
            <ul id="nav-items" class="">
            </ul>
            <%- include('../partials/button', {label: 'contact', href: '/contact'}) %>
        </div>
    </div>
</header>