<meta charset="UTF-8">
<!-- Meta Data -->
<meta name="viewport" content="initial-scale=1, width=device-width">
<title>Super 360 | <%- title || '' %> </title>
<link rel="icon" href="/images/logo.ico">

<!-- Load CSS library -->
<% if (useFlowbite) { %>
  <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.2/dist/flowbite.min.css" />
<% } %>  

<link rel="stylesheet" href="/stylesheets/styles.css">
<link rel="stylesheet" href="/stylesheets/tailwind.css">
<link rel="stylesheet" href="/stylesheets/custom-styles.css">

<!-- Load Icon Library -->
<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>

<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2R52L6LZE8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2R52L6LZE8');
</script>