<meta charset="UTF-8">
<!-- Meta Data -->
<title>Super 360 | <%- title || '' %> </title>
<link rel="icon" href="/images/logo.ico">

<!-- Load CSS library -->
<link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.2/dist/flowbite.min.css" />

<link rel="stylesheet" href="/stylesheets/styles.css">
<link rel="stylesheet" href="/stylesheets/tailwind.css">
<link rel="stylesheet" href="/stylesheets/custom-styles.css">

<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<!-- Load Icon Library -->