<meta charset="UTF-8">
<!-- Meta Data -->
<title>Super 360 | <%- title || '' %> </title>

<!-- Load CSS library -->
<link rel="stylesheet" href="/stylesheets/styles.css">
<link rel="stylesheet" href="/stylesheets/tailwind.css">
<link rel="stylesheet" href="/stylesheets/custom-styles.css">
<!-- Load Icon Library -->