<li class="uppercase px-3 text-super-light-grey font-normal text-base btn-letter-spacing">
    <a class="<%- page === navLink ? 'underline underline-offset-4 text-primary-orange' : ''  %> " href="<%- href %> "><%- navLink %> </a>
</li>