<div class="w-1/2 flex flex-col justify-center items-center">
    <h2 class="text-white font-normal text-5xl"><%- title %> </h2>
    <p class="text-light-grey text-lg font-light normal-text-letter-spacing text-center mt-4"><%- desc %> </p>
</div>