<div class="w-full lg:w-3/5 flex flex-col justify-center items-center">
    <h2 class="text-white font-normal text-7xl lg:text-5xl"><%- title %> </h2>
    <p class="text-light-grey text-2xl lg:text-lg font-light normal-text-letter-spacing text-center mt-6 lg:mt-4"><%- desc %> </p>
</div>