<a class="whatsapp-floating-button w-[50px] h-[50px] right-[20px] bottom-[20px] lg:w-[60px] lg:h-[60px] lg:right-[40px] lg:bottom-[40px]" href="https://wa.link/9ev01e">
    <img src="/images/whatsapp-icon.svg" class="w-8 h-8" alt="whatsapp-icon" /> 
</a>